/* Remove the white space at the top of the header */
*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    padding: 120px;
    background: url(../images/coffeeBackground.jpg) no-repeat center;
    background-size: cover;

}

html, body{
    height: 100%;
    margin: 0;
}

.menuTitle{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: #000;
    padding-top: 25px;
    
}

.cafeMenu{
    column-count: 3;
    column-rule: 2px dashed #000;
    text-align: left;
    line-height: 1.15;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5%;
    padding: 50px;
    border-style: solid;
    
}

.cafeMenu h2{
    font-size: 1.8rem;
    text-align: center;
    text-decoration: underline;
}

.cafeMenu h4{
    text-align: center;
}


footer{
    color: #FFF;
}

@media screen and (max-width: 1343px){
    .cafeMenu{
        column-count: 2;
        padding: 15px;
    }

    .cafeMenu h2{
        line-height: 2rem;
        
    }

    body{
        padding: 65px;
    }

    

}


@media screen and (max-width: 768px){
    .cafeMenu{
        column-count: 1;
        border-radius: 0%;
        
        
    }

    .menuTitle{
        font-size: 1.5rem;
        padding-top: 75px;
        color: #FFF;
        
    }

    body{
        padding: 25px;
        background-image: url('../images/coffeeBackground1.jpg');
        background-position: center;
        background-size: cover;
        
    }
}
